body {
    background-color: lavender;
}

#petsContainer {
    padding: 20px;
    margin: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}

#buttonContainer {
    display: flex;
    justify-content: center;
}

.all, .cats, .dogs, .dinos {
    margin: 20px;
}

.petPic {
    max-width: 100%;
    object-fit: contain;
}

.card-header {
    background-color: #eeeeee;
    font-size: 25px;
    font-family: 'Charmonman', cursive;
}

.card {
    border-color: #eeeeee;
    border-width: 2px;
}

h2 {
    text-align: center;
    padding: 29px;
    font-family: 'Charmonman', cursive;
    font-size: 60px;
}

#typecat {
    background-color: #b2ebf2;
    padding: 10px;
    color: #0097a7;
}

#typedog {
    background-color: #ffecb3;
    padding: 10px;
    color: #ff8f00;
}

#typedino {
    background-color: #81c784;
    padding: 10px;
    color: #2e7d32;
}