body {
    background-color: lavender;
}

#petsContainer {
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}

.btn {
    margin: 20px;
    align-self: center;
}

.petPic {
    max-width: 100%;
    object-fit: inherit;
}